:root {
  --mainBlue: #0367a0;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #131212;
  --mainYellow: #ffa400;
}

body {
  font-family: "Quicksand", sans-serif;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.3rem;
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow) !important;
}
